<h3>Studying Bindings</h3>

<button (click)="onClick()"> Event (click)</button>
<button on-click="onClick()"> Event on-click</button>

<br><br>


<button (mouseover)="onMouseOver()"> Event (mouseover)</button>
<button on-mouseover="onMouseOver()"> Event on-mouseover</button>


<hr>


<input placeholder="Event KeyDown" type="text" (keydown)="onKeyDown()">
<input placeholder="Event KeyDown" type="text" on-keydown="onKeyDown()">


<br><br>


<input placeholder="Event KeyUp" type="text" (keyup)="onKeyUp()">
<input placeholder="Event KeyUp" type="text" on-keyup="onKeyUp()">
